@page "/login"
@inject AuthService Auth
@inject NavigationManager Navigation

<h3>Login</h3>

<div class="mb-3">
    <input class="form-control" placeholder="Usuário" @bind="username" />
</div>
<div class="mb-3">
    <input type="password" class="form-control" placeholder="Senha" @bind="password" />
</div>
<button class="btn btn-primary" @onclick="RealizarLogin">Entrar</button>
<p class="text-danger">@mensagemErro</p>


@code {
    string username = "";
    string password = "";
    string mensagemErro = "";

    private async Task RealizarLogin()
    {
        var sucesso = await Auth.LoginAsync(username, password);
        if (sucesso)
            Navigation.NavigateTo("/", forceLoad: true);
        else
            mensagemErro = "Usuário ou senha inválidos.";
    }
}
